&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

        chipone_tddi@48 {
                compatible = "chipone,chipone-icnl9916";
                reg = <0x48>;

                chipone,rst-gpio = <&ap_gpio 145 0>;
                chipone,irq-gpio = <&ap_gpio 144 0>;
                chipone,x-res = <720>;
                chipone,y-res = <1600>;
        };

	ilitek@41 {
		compatible = "ilitek,ili9881h","tchip,ilitek";
		reg = <0x41>;
		/*ilitek,ili9881h*/
		reset-gpio = <&ap_gpio 145 0>;
		irq-gpio = <&ap_gpio 144 0>;
		/*tchip,ilitek*/
		touch,reset-gpio = <&ap_gpio 145 0>;
		touch,irq-gpio = <&ap_gpio 144 0>;
	};
	
	chipsemi@2e{
		compatible = "chipsemi,chsc_cap_touch";
		reg = <0x2e>;
		chipsemi,rst-gpio = <&ap_gpio 145 0>;
		chipsemi,int-gpio = <&ap_gpio 144 0>;
	};
};
